<h2>
    Report List Loaded<h2>
        <div class="col-md-55" *ngFor="let report of reportList">
            <div class="thumbnail" (click)="onSelect(report.rptId)">
                <i class="fa fa-area-chart" style="font-size:18px;color:red"></i>
                <!--<div class="image view view-first">-->
                <!--<img style="width: 2%; display: block;" src="../../images/Report.png" alt="image" />-->
                <div class="caption"><a><h4>{{report.rptName}}</h4></a></div>

                <div class="ReportDescription">
                    {{report.description}}
                </div>
                <!--</div>-->
            </div>
        </div>
        <!--<li *ngFor="let report of reportList">
            <ul>
                <li class="teamMate" (click)="onSelect(report.rptId)">
                    <a><h4>{{report.rptName}}</h4></a>
                </li>
            </ul>
        </li>-->
