<!--open nav column-->
<div class="navbar-default">
    <button id="toggle-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<h1 id="dash-logo" class="center-block">
    <img src="images/Firebolt250.png" style="width:200px;" />
</h1>

<!-- menu prile quick info -->
<div class="profile">
    <div class="profile_pic">
        <img src="./images/default-user-image.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>{{_SessionService.LoggedInUser}}</h2>
        <!--<h2>Krishnan</h2>-->
    </div>
</div>
<!-- /menu prile quick info -->

<div class="menu_section">
    <h3>
        ENERGIZER
    </h3>
</div>